<style>
 .outer {
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
  </style>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <h1>Albums</h1>
      <h3>you can add new album</h3>
  <input type="text" [(ngModel)]="newAlbum.title">
  <button (click)="addAlbum()">Add new album</button>
    </div>
  </div>
</div>
<ol *ngIf="loaded">
  <li *ngFor="let album of albums">
    <h3><a routerLink="/albums/{{album.id}}">
      Album id: {{album.id}}, Title: {{album.title}}, User id: {{album.userId}}
    </a></h3>
    <button (click)="delAlbum(album.id)">Delete</button>
  </li>
</ol>
<h2 *ngIf="loaded==false">Albums are loading...</h2>
