
<div *ngFor="let product of products">
    <div *ngIf="product.category == selectedProduct">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
      <div><img src="{{ product.url }}" width="100" /></div>
    </h3>
  
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <p *ngIf="product.price">Price: {{ product.price }}</p>
    <p *ngIf="product.rating">Rating: {{ product.rating }}/5</p>
    <button type="button" (click)="share(product)">Share</button>
    <button type="button" (click)="like(product)">Like | {{product.likes}}</button>
    <button type="button" (click)="delete(product)">Delete product</button>
  
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
</div>
  </div>